@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 222.2 84% 4.9%;

    --card: 202 63% 60%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    /* --primary: 14 100% 68%; */
    --primary: 202 63% 45%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 14 100% 68%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-medgray-100 text-foreground;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-medium tracking-tight;
  }
  
  .btn-primary {
    @apply bg-blue text-white px-4 py-2 rounded-md hover:bg-blue-600 transition-colors;
  }
  
  .btn-secondary {
    @apply bg-medgray-300 text-gray-700 px-4 py-2 rounded-md hover:bg-medgray-400 transition-colors;
  }
  
  .status-badge {
    @apply text-sm font-medium px-2 py-1 rounded-full;
  }

  .status-ok {
    @apply bg-status-ok/20 text-status-ok border-2 border-black;
  }
  
  .status-pending {
    @apply bg-status-pending/20 text-status-pending border border-black;
  }
  
  .status-tbd {
    @apply bg-status-tbd/20 text-status-tbd border border-black;
  }
  
  .status-consult {
    @apply bg-status-consult/20 text-status-consult border border-black;
  }
  
  .card {
    @apply bg-white rounded-lg shadow-sm p-4 border border-medgray-200 mx-0;
  }
}
